<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Twilter Test</title>
    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Bootstrap Compiled JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
    <body class="text-center">
        <form id='query' class="form-signin" method="POST" action="{{ url_for('parse') }}">
            <h1 class="h3 mb-3 font-weight-normal">Enter the parameters to search for</h1>

            <label for="inputEmail" class="sr-only">User</label>
            <input type="text" name="user" id="inputEmail" class="form-control" placeholder="twitter" required autofocus>

            <label for="inputPassword" class="sr-only">Number of tweets</label>
            <input type="number" name="count" id="inputPassword" class="form-control" placeholder="50" required>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Fetch tweets</button>

        </form>

    </body>
</body>
</html>